<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>182807725325-4mie4c4g1ekgperf82fbqgo7htsdkt60.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.182807725325-4mie4c4g1ekgperf82fbqgo7htsdkt60</string>
	<key>API_KEY</key>
	<string>AIzaSyBHk-Kyhd3TdfmxIWPpuo2kfg9Fl9zUhTU</string>
	<key>GCM_SENDER_ID</key>
	<string>182807725325</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TrevorSchmidt.DISBYU</string>
	<key>PROJECT_ID</key>
	<string>doesitstink</string>
	<key>STORAGE_BUCKET</key>
	<string>doesitstink.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:182807725325:ios:d70a5cc5c673705f38dc44</string>
</dict>
</plist>